body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(https://wallpaperaccess.com/full/136920.jpg) !important;
    background-position: center !important;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0 !important;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    margin-top:auto;
    padding-top:20px;
}
#homeTab {
    font-size: 20px !important;
}
main{
    margin-left:20px !important;
    margin-bottom:20px!important;
}
#logout{
    margin-top:9px !important;
}
#backButton{
    font-size:15px !important;
    margin-left:190px !important;
    margin-bottom:10px !important;
}
.locations{
  color:darkgray !important;
}
h1.locations{
    margin-top: 1px !important;
    margin-bottom : 50px !important; 
}

#sendButton{
    margin-top: 10px !important;
}
.validation{
    color:red;
}

#successBody {
    text-align: center;
    padding: 40px 2;
    background: #EBF0F5;
}

#successH1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

#successP {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

#successCheck {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

#successCard.card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
}

div#myTable {
    background-color: lightsteelblue !important;
}
#checkAvailableButton {
   margin-top:5px !important;
   
}
.text{
    color:white !important;
}
div#cardBoarder {
    border: 2px solid white !important;
}
h4#hospTitle {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
p#hospDisc {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
a#hospButton {
    margin-left: 223px;
}
div#locationsPage{
    margin-left: 25px !important;
}
