@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h4 class="locations">@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group has-feedback">
                <label class="locations" asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    @*<div class="input-group">
                <input asp-for="Email" class="form-control" disabled />
                <div class="input-group-append">
                    <span class="input-group-text text-success font-weight-bold">✓</span>
                </div>
            </div>*@
                    @*<div class="input-group">
                        <div class="input-group-addon">
                            <span> <i class="fas fa-envelope-open"></i></span>
                        </div>
                        <input asp-for="Email" class="form-control" disabled />
                    </div>*@
    
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span> <i class="fas fa-envelope-open"></i></span>
                            </span>
                            <input asp-for="Email" class="form-control" disabled />
                        </div>
                        <span class="form-control-feedback "><i class="far fa-check-square bg-success fa-lg"></i></span>                 
                }
                else
                {
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span> <i class="fas fa-envelope-open"></i></span>
                        </div>
                        <input asp-for="Email" class="form-control" disabled />
                    </div>

                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
            </div>

            <div class="form-group">
                <label class="locations" asp-for="Input.NewEmail"></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span> <i class="far fa-envelope-open"></i></span>
                    </div>
                    <input asp-for="Input.NewEmail" class="form-control" />
                </div>

                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>

            <button id="change-email-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Change email</button>

            <!-- Custom Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><strong>Save changes</strong></h4>
                        </div>
                        <div class="modal-body">
                            <strong>Are you sure you want to save these changes?</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
