@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-area="Identity" asp-page="/Account/Register"><button class="btn btn-success">Register</button></a>
    <a asp-area="Identity" asp-page="/Account/Login"><button class="btn btn-success">Login</button></a>
</div>