@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="row locations moveLeft">
    <h1>@ViewData["Title"]</h1>
    <br />
    <div class="alert alert-info col-md-6" role="alert" style="width:614px">
        <p>
            <strong>Please check your email to reset your password.</strong>
        </p>

    </div>
    
</div>