@using VaccinationPlatform.Common
@inject UserManager<ApplicationUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />*@

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@

    <script src="https://kit.fontawesome.com/93ab6c6aca.js" crossorigin="anonymous"></script>

    @*<script src="https://kit.fontawesome.com/f96a58d84a.js" crossorigin="anonymous"></script>*@

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.25/b-1.7.1/r-2.2.9/datatables.min.js"></script>
    <link rel="stylesheet" href="~/css/custom.css" />




    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.25/b-1.7.1/r-2.2.9/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.25/b-1.7.1/r-2.2.9/datatables.min.js"></script>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap.min.css">*@

</head>
<body id="default">
    <header>
        <div class="jumbotron mb-0">
            <div class="container text-center">
                <h1>Book your place now</h1>
                <p>Easy and fast to use platform for vaccination</p>
            </div>
        </div>

        <nav class="navbar navbar-inverse container-fluid mt-0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand text-center" asp-controller="Home" asp-action="Index"><i class="fas fa-syringe "></i></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li id="homeTab"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li id="homeTab"><a asp-controller="Locations" asp-action="Index">Locations</a></li>
                        <li id="homeTab"><a asp-controller="MedicalInfo" asp-action="Index">Medical Info</a></li>
                        <li id="homeTab"><a asp-controller="Booking" asp-action="BookApointment">Book an apointment</a></li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li id="homeTab"><a asp-controller="Booking" asp-action="GetUserBookings">My Bookings</a></li>
                        }
                        @if (this.User.IsInRole("Administrator"))
                        {
                            <li id="homeTab"><a asp-controller="Admin" asp-action="AllBookings">All Bookings</a></li>
                        }
                    </ul>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><span class="glyphicon glyphicon-user"></span>Welcome, @User.Identity.Name</a></li>
                            <li id="logout">
                                <form id="logoutButton2" class="form-inline text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
                                </form>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav  navbar-right">
                            <li id="homeTab"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                            <li id="homeTab"><a asp-area="Identity" asp-page="/Account/Login">Log In</a></li>
                            <li><a><i class="fab fa-facebook fa-2x"></i></a></li>
                            <li><a><i class="fab fa-twitter fa-2x"></i></a></li>
                            <li><a><i class="fab fa-stack-overflow fa-2x"></i></a></li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>


    <main role="main" class="pb-3">

        @RenderBody()

    </main>

    <footer class=" text-center">
        <p> &copy;Online Booking System</p>
        <p class="text-sm-right">All rights reserved</p>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
