@{
    ViewData["Title"] = "Book an Appointment";
}
@model VaccinationPlatform.Web.ViewModels.InputModels.BookingModel

@{
    var districts = this.Model.Districts.Select(x => new SelectListItem(x.Value, x.Key));
    var towns = this.Model.Towns.Select(x => new SelectListItem(x.Value, x.Key));
    var hospitals = this.Model.Hospitals.Select(x => new SelectListItem(x.Value, x.Key));
    var diseases = this.Model.Diseases.Select(x => new SelectListItem(x.Value, x.Key));
    var vaccines = this.Model.Vaccines.Select(x => new SelectListItem(x.Value, x.Key));

}
<h1 class="locations">@ViewData["Title"]</h1>

<form method="post" class="col-md-4">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="locations" asp-for="DistrictId">Select District</label>
        <select class="form-control" asp-for="DistrictId" asp-items="districts"></select>
        <span class="validation" asp-validation-for="DistrictId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="TownId">Select Town</label>
        <select class="form-control" asp-for="TownId" asp-items="towns"></select>
        <span class="validation" asp-validation-for="TownId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="HospitalId ">Select Hospital</label>
        <select class="form-control" asp-for="HospitalId" asp-items="hospitals"></select>
        <span class="validation" asp-validation-for="HospitalId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="DiseaseId">Select Disease</label>
        <select class="form-control" asp-for="DiseaseId" asp-items="diseases"></select>
        <span class="validation" asp-validation-for="DiseaseId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="VaccineId">Select Vaccine</label>
        <select class="form-control" asp-for="VaccineId" asp-items="vaccines"></select>
        <span class="validation" asp-validation-for="VaccineId"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="BookingDate">Select Date</label>
        <input class="form-control" asp-for="BookingDate" />
        <span class="validation" asp-validation-for="BookingDate"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="OtherInfo">Aditional Information(not required)</label>
        <textarea class="form-control" rows="7" cols="56" asp-for="OtherInfo"></textarea>
    </div>



    <input type="submit" id="sendButton" class="btn btn-success" />
</form>