@{
    ViewData["Title"] = "Book an Appointment";
}

@model VaccinationPlatform.Web.ViewModels.InputModels.BookingModel
@Model 

@{ 
    IEnumerable<SelectListItem> districts;

    if (this.Model.Districts.Count > 0)
    {
        districts = this.Model.Districts.Select(x => new SelectListItem(x.Name, x.Name));
    }
    else
    {
        districts = new List<SelectListItem>() { new SelectListItem() { Text = "No districts", Value = "0" } };
    }

}
<h1 class="locations">@ViewData["Title"]</h1>

<form method="post" class="col-md-4">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="locations" asp-for="District">Select District</label>
        <select class="form-control" asp-for="District" asp-items="districts">
           
        </select>
        @*<input class="form-control" asp-for="District" />*@
        <span class="validation" asp-validation-for="District"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="Town">Select Town</label>
        <input class="form-control" asp-for="Town" />
        <span class="validation" asp-validation-for="Town"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="Hospital">Select Hospital</label>
        <input class="form-control" asp-for="Hospital" />
        <span class="validation" asp-validation-for="Hospital"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="Disease">Select Disease</label>
        <input class="form-control" asp-for="Disease" />
        <span class="validation" asp-validation-for="Disease"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="Vaccine">Select Vaccine</label>
        <input class="form-control" asp-for="Vaccine" />
        <span class="validation" asp-validation-for="Vaccine"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="BookingDate">Select Date</label>
        <input class="form-control" asp-for="BookingDate" />
        <span class="validation" asp-validation-for="BookingDate"></span>
    </div>
    <div class="form-group">
        <label class="locations" asp-for="OtherInfo">Aditional Information(not required)</label>
        <textarea class="form-control" rows="7" cols="56" asp-for="OtherInfo"></textarea>
    </div>

    

    <input type="submit" id="sendButton" class="btn btn-success" />
</form>